/* Toolbar */
.cn-toolbar,
.cn-filterbar {
	float: left;
	width: 100%;
	border: 1px solid $graylight;
	@include themer( border, "toolbar-border", $themes );  
	padding: 0 15px;
}
.cn-toolbar {
	color: $textdefault;
	background-color: $white;
	@include themer( color, "toolbar-text", $themes );  
	@include themer( background-color, "toolbar-bg", $themes ); 

	.cn-count {
		@include webfontNormal;		
		text-transform: none;
		opacity: .8;
		margin-left: .3em;
		@include themer( color, "toolbar-text-secondary", $themes ); 
	}
}

.cn-toolbar__heading {
	font-size: $size16;
	padding: 12px 0;
	margin: 0;
	text-transform: uppercase;
	@include webfontBold;
}
.cn-toolbar__breadcrumb {
	.cn-toolbar__heading {
		display: inline-block;
		&:after {
			content: " >";
			margin: 0 .5em;
			@include webfontNormal;
		}
		&:last-child:after {
			display: none;
		}
	}
}

@media ( min-width: 37.5em ) {
	.cn-toolbar__breadcrumb {
		float: left;
		margin-left: -15px;
		overflow: hidden;

		> .cn-toolbar__heading {
			display: block;
			padding-left: 15px;
			padding-right: 30px;
			color: $white;
			@include breadcrumb-carat;
			&:after {
				margin: 0;
			}
			&:before,
			&:after {
				left: -8px;
				border-right-color: darken( $blue, 5% );
			}
			&:last-child:after {
				display: block;
			}
		}

		:first-child {
			background-color: lighten( $blue, 2% );
			&:before,
			&:after {
				display: none;
			}
		}
	}
}

.cn-toolbar__link {
	display: inline-block;
	color: $gray;
	@include themer( color, "toolbar-link-text", $themes );
	padding: 8px 0;
	font-size: $size12;
	margin-left: 20px;

	&:hover {
		color: $linkdefault;
		@include themer( color, "toolbar-link-hover-text", $themes );  
	}
	&:first-child {
		margin-left: 0;
	} 
}
.cn-toolbar__link,
.cn-toolbar .cn-tab__link {
	text-transform: uppercase;
}
.cn-toolbar__menu-link {
	color: $textdefault;
}
.cn-linkset__opt {
	position: relative;
	padding-left: 5px;
}
.cn-toolbar--filters .cn-linkset__opt {
	margin-left: 20px;
	padding-left: 20px;

	&:before {
		display: block;
		content: " ";
		position: absolute;
		left:  -3px;
		top: 50%;
		margin-top: -6px;
		height: 12px;
		border-left: 1px solid rgba( $black, .5 );
	}
}
.cn-linkset__opt--active .cn-icon,
.cn-toolbar__link:hover .cn-icon,
.cn-toolbar__menu-link:hover .cn-icon,
.cn-filter__link:hover .cn-icon {
	fill: $linkdefault;
	@include themer( fill, "toolbar-icon-hover-fill", $themes );  
}


/* components */
.cn-toolbar__linkset,
.cn-filterset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.cn-linkset__opt,
.cn-filterset__opt {		
	display: inline-block;
	vertical-align: middle;
	
	&:last-child {
		margin-right: 0;
	}
}
.cn-toolbar .cn-tab {
	padding: 12px 0 8px;
}
.cn-filterset__opt {
	padding: 8px 0;
}
.cn-linkset__opt--active {
	@include webfontBold;
}
.cn-linkset__opt--active .cn-toolbar__link {
	color: $textdefault;
	@include themer( color, "toolbar-link-active-text", $themes );  
}


/* filter bar */
.cn-filterbar {
	position: relative;
	background-color: lighten( $bluelightest, 9% );
	border-top: 0;
	box-shadow: inset 0 1px 3px ( $graylight );
	padding-top: 2px; 
	padding-bottom: 2px;
}
.cn-filterbar__carat {
	position: absolute;
	top: -7px;
	width: 14px;
	height: 14px;
	background-color: lighten( $bluelightest, 9% );
	border: 1px solid $graylight;
	border-right: 0;
	border-bottom: 0;
	box-shadow: inset 1px 1px 1px ( $graylight );
	transform: rotate( 45deg );
}
.cn-filter__link {
	font-size: $size12;
	@include webfontBold;
	text-transform: uppercase;
	margin-right: 20px;

	.cn-filterset__opt:last-child & {
		margin-left: 0;
	}
	.cn-pgsubtitle & {
		font-size: 1em;
	}
	.cn-toolbar & {
		display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 0;
	}
}
.cn-filter__label {
	color: $textdefault;
	margin-right: 3px;
	@include themer( color, "toolbar-text-secondary", $themes );

	.cn-toolbar & {
		@include webfontNormal;
	}
}
.cn-filter__value {
	color: $linkdefault;
	@include themer( color, "toolbar-link-text", $themes );
}
.cn-filter__value--empty {
	@include webfontNormal;
	color: $textdefault;
}
.cn-filterset {
	float: left;
}
.cn-filterbar__controls {
	float: right;
	margin: 6px 0;
	color: $gray * 1.5;
}
.cn-filterbar__controls__link {
	font-size: $size12;
	color: $gray;
	margin: 0 .5em;
	&:last-child {
		margin-right: 0;
	}
}

/* layout */

@media ( min-width: 37.5em ) {
	.cn-toolbar__heading,
	.cn-toolbar .cn-tabs {
		float: left;
	}
	.cn-toolbar__linkset {
		float: right;
		margin: 7px 0 0;
	}
	.cn-toolbar .cn-field--search {
		vertical-align: middle;
		margin: -2px 0 0;
	}
}
	