@import '../scss/variables';

.label {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: .25em .8em;
}

.secondary {
    color: $c-raisin-black;
    background-color: $c-gainsboro;
}

.intermediate {
    color: $c-raisin-black;
    background-color: $c-mikado-yellow;
}

.dark {
    background-color: $c-dark-midnight-blue;
}
